---

- name: set default docker_compose_root
  set_fact:
    docker_compose_path: "."
  
- name: set docker_compose_root
  set_fact:
    docker_compose_path: "{{ docker_compose_project.docker_compose_path }}"
  when: docker_compose_project.docker_compose_path is defined

- name: set configuration
  set_fact:
    docker_compose_project_root_path: "/opt/{{ docker_compose_project.name }}"

- name: set configuration
  set_fact:
    docker_compose_project_path: "{{ docker_compose_project_root_path }}/{{ docker_compose_path }}/"

- name: set configuration
  set_fact:
    docker_compose_env_file: "{{ docker_compose_project_path }}/.env"


- debug:
    msg: "{{ docker_compose_env_file }}"

- name: create target folder
  file:
    path: "/{{ docker_compose_project_root_path }}"
    owner: admin
    group: admin
    mode: '0744'
    state: directory
  become: yes