---
- name: apply os hardening
  include_role:
    name: devsec.hardening.os_hardening
  vars:
    sysctl_overwrite:
      net.ipv4.ip_forward: 1
    os_env_umask: "022" # https://github.com/dev-sec/ansible-collection-hardening/blob/master/roles/os_hardening/README.md#variables
    ansible_become: yes
